.id{
    text-align: center;
    
    
}

.title{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red greenyellow;
    background-color: goldenrod;
}
.T{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:yellow;
    
}

footer{
    
    
    text-align:center;
    background-color: aqua;
}

